# Dossiers
node_modules/
logs/
coverage/

# Fichiers
server.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env
.env.local
.env.*.local
.env.development
.env.test
.env.production
*.log
*.pid
*.seed
*.db
